$lightBackground: rgba(126, 19, 158, 0.267);
$liveRed: #db324d;
$gray: #56494e;
$lightGray: #a29c9b;
$chocolate: #511c29;
.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;
    a {
      text-decoration: none;
      color: inherit;
    }
    //login register

    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
      background-color: $gray;

      h1 {
        font-size: 1.3rem;
        color: $liveRed;
        margin-bottom: 1.2rem;
      }

      form {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 200px;
        gap: 1rem;
        padding: 1.2rem 2rem;
        border-radius: 1rem;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid black;
        }

        button {
          border: none;
          background-color: $liveRed;
          color: white;
          font-size: 0.9rem;
          text-transform: uppercase;
          padding: 0.7rem 0.8rem;
          cursor: pointer;
          transition: ease-in-out 1;
        }

        button:hover {
          background-color: $chocolate;
        }

        p {
          font-size: 1rem;
          color: red;
          text-align: center;
        }

        span {
          font-size: 0.92rem;
          text-align: center;
        }
      }
    }

    //Navbar

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          margin-bottom: 0.8rem;
        }

        .links {
          display: flex;
          gap: 1.2rem;
          // font-size: 1.4rem;
          align-items: center;

          h6 {
            font-size: 1rem;
            font-weight: 30;
            margin-right: 1.4rem;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGray;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;

            &:hover {
              transform: scale(1.1);

              opacity: 0.8;
            }
          }
        }
      }
    }

    //Footer

    footer {
      margin-top: 100px;
      padding: 1.4rem;
      background-color: $lightGray;
      display: flex;
      justify-content: space-between;
    }

    //Home

    .home {
      .posts {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        gap: 1.2rem;
      }

      .post {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;

        &:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }

        .img {
          flex: 1;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $lightGray;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }
          img {
            width: 100%;
            max-height: 380px;
            object-fit: cover;
          }
        }

        .content {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3,
          p {
            font-size: 1.4rem;
          }

          button {
            width: max-content;
            border: none;
            padding: 1rem;
            border: 1px solid $chocolate;
            color: black;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
              background-color: $chocolate;
              color: wheat;
            }
          }
        }
      }
    }

    //Single

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1rem;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .edit {
          cursor: pointer;
          display: flex;
          gap: 1rem;
          margin-left: 1rem;
        }

        h1 {
          font-size: 1.7rem;
          color: #511c29;
        }

        p {
          font-size: 1rem;
          text-align: justify;
          line-height: 2rem;
        }
      }

      .menu {
        flex: 3;
        display: flex;
        flex-direction: column;

        gap: 1.3rem;

        h2 {
          font-size: 1.2rem;
          color: $gray;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }

          .button-container {
            display: flex;
            justify-content: center;
          }

          button {
            width: max-content;
            border: none;
            padding: 0.5rem 2rem;
            border: 1px solid $chocolate;
            color: black;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
              background-color: $chocolate;
              color: wheat;
            }
          }
        }
      }
    }

    //Write
    .add {
      display: flex;
      gap: 1rem;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 1rem;

        input {
          border: none;
          padding: 0.5rem 0.8rem;
          border-bottom: 1px solid $lightGray;
        }

        .editor-container {
          height: 400px;
          overflow: scroll;
          border: 1px solid $lightGray;
        }

        .editor {
          height: 100%;
          border: none;
        }
      }

      .menu {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        .item {
          border: 1px solid $lightGray;
          padding: 1rem;
          flex: 1;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;

          :first-child {
            background-color: $gray;
            border: none;
            color: white;
            padding: 0.5rem;
            cursor: pointer;
          }

          :last-child {
            border: 1px solid $chocolate;
            color: $chocolate;
            padding: 0.5rem;
            cursor: pointer;
          }
        }

        .cat {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          margin-top: 0.8rem;
          color: $chocolate;
        }
      }
    }
  }
}
